@model HealthcareSystem.ViewModel.Hospitals.IndexVM

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2>Hospitals</h2>
            <a class="btn btn-primary" href="/Hospitals/Add">Add new hospital</a>
            <table class="table table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Hospital Name</th>
                        <th>Country</th>
                        <th>Doctors Count</th>
                        <th>Patient Count</th>
                        <th>Picture</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model.Hospitals)
                {
                    <tbody>
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Country</td>
                            <td><a class="btn btn-primary" href="/Hospitals/DoctorList?id=@item.Id">@((item.Doctors != null) ? item.Doctors.Count : 0)</a></td>
                            <td><a class="btn btn-primary" href="/Hospitals/PatientList?id=@item.Id">@((item.Patients != null) ? item.Patients.Count : 0)</a></td>
                            <td>
                                <img src="~/images/@item.HospitalPicture"
                                      height="50" width="50"
                                     asp-append-version="true"/>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="/Hospitals/Edit?id=@item.Id">Edit</a>
                                <a class="btn btn-danger btn-sm" href="/Hospitals/Delete?id=@item.Id">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                }

            </table>
        </div>
    </div>
</div>

                            