@model HealthcareSystem.ViewModel.Patients.AddPatientVM
<div>
	<form method="post">
		@Html.HiddenFor(m=>m.Id)
		<div class="form-contol">
			<h1>Confirm the new patient</h1>
			<input type="submit" class="btn btn-primary" value="Confirm" />
		</div>
	</form>

</div>